ansitable==0.9.7
colored==1.4.4
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
fonttools==4.39.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Panda3D==1.10.13
panda3d-gltf==0.14
panda3d-simplepbr==0.10
pgraph-python==0.6.2
Pillow==9.5.0
progress==1.6
pygame==2.4.0
pyobjc-core==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
-e git+https://github.com/petercorke/robotics-toolbox-python.git@7196aaa7b8060c4189fd13b831293b5fc7984a3d#egg=roboticstoolbox_python
rtb-data==1.0.0
scipy==1.10.1
screeninfo==0.8.1
shapely==2.0.1
six==1.16.0
spatialgeometry==1.1.0
spatialmath-python==1.1.8
swift-sim==1.1.0
typing_extensions==4.5.0
ursina==5.3.0
websockets==11.0.3
xmlschema==2.3.0
